{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Szczegóły Trudnosci' }}
{% endblock %}

{% block body %}
    <div class="srodek">
        <div class="paginacja">
        <h1 class="homeHeaderSmall">{{ 'Trasy z oznaczeniem trudności '}}
            {% if trudnosc is defined and trudnosc|length %}
            {{ trudnosc.name }}
        </h1>
        {% else %}
            </h1>
        {% endif %}
        {% if trudnosc is defined and trudnosc|length %}

            {% if trasy|length > 0 %}


                </div>

                <div id="panels">
                    <div id="wrapper">
                        <div id="innerTrasa">
                            {% for trasa in trasy %}
                                <div class="innerTrasapoj">
                                    {% if trasa.imageName is null %}
                                        <div class="image-wrapper-trasa"> <a href="{{ asset( 'uploads/noPic.png' ) }}" data-lightbox="photos"><img class="img-fluid duzaIkona" src="{{ asset( 'uploads/noPic.png' ) }}"></a></div>
                                    {% else %}
                                        <td> <a href="{{ asset( 'uploads/' ~ trasa.imageName ) }}" data-lightbox="photos"><img class="img-fluid duzaIkona" src="{{ asset( 'uploads/' ~ trasa.imageName ) }}"></a></td>
                                    {% endif %}
                                    <div class="trasaDescription">
                                        <div class="trasaName"> {{ trasa.name }} </div>
                                        <div class="trasaCzas"> czas przejścia: {{ trasa.czas|date('H:i') }} </div>
                                        <div class="trasaPunkty">punkty: {{ trasa.points }}</div>
                                        <div class="trasaRegion">
                                            Region: <a href="{{ url('trasa_index', {'filters.trudnosc_id' : trasa.trudnosc.id}) }}" title="{{ trasa.trudnosc.name }}">
                                                {{ trasa.trudnosc.name }}
                                            </a>

                                        </div>
                                        <div class="trasaTrudnosc">
                                            Trudność: <a href="{{ url('trasa_index', {'filters.trudnosc_id' : trasa.trudnosc.id}) }}" title="{{ trasa.trudnosc.name }}">
                                                {{ trasa.trudnosc.name }}
                                            </a>
                                        </div>

                                        <div class="trasaTagi">
                                            Tagi:
                                            {% if trasa.tags is defined and trasa.tags|length %}
                                                {% for tag in trasa.tags %}
                                                    <a href="{{ url('trasa_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.title }}">
                                                        {{ tag.title }}
                                                    </a>
                                                {% endfor %}
                                            {% else %}
                                                &nbsp;
                                            {% endif %}
                                        </div>
                                        <div>
                                            <a class="imgLink" href="{{ url('trasa_show', {id: trasa.id}) }}" title="{{ 'Pokaż' }}">
                                                <img src="{{ asset( 'img/view.png') }}">
                                            </a>
                                            {% if is_granted('EDIT', trasa) %}

                                                <a class="imgLink" href="{{ url('trasa_edit', {id: trasa.id}) }}" title="{{ 'Edytuj'}}">
                                                    <img src="{{ asset( 'img/edit.png') }}">
                                                </a>
                                            {% endif %}
                                            {% if is_granted('DELETE', trasa) %}
                                                <a class="imgLink" href="{{ url('trasa_delete', {id: trasa.id}) }}" title="{{ 'Usuń' }}">
                                                    <img src="{{ asset( 'img/delete.png') }}">
                                                </a>

                                            {% endif %}
                                            {% if is_granted('ROLE_USER') %}
                                                <a class="imgLink" href="{{ url('wpis_create_from', {id: trasa.id}) }}" title="{{ 'Dodaj do książeczki' }}">
                                                    <img src="{{ asset( 'img/create.png') }}">
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>

                            {% endfor %}
                        </div>

                        <div class="navigation text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            {% else %}

                <div>{{ 'message_item_not_found'|trans }}</div>
            {% endif %}

        {% else %}
            <p>
                {{ 'message_item_not_found'|trans }}
            </p>
        {% endif %}
        <p class="button">
            <a href="{{ url('trudnosc_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    </div>
{% endblock %}