{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Dodaj zdjecie do profilu' }}
{% endblock %}

{% block body %}
    <div class="srodek">
    <h1>{{ 'Dodaj zdjecie do profilu' }}</h1>
    {{ form_start(form, { method: 'POST', action: url('avatar_create') }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('user_index') }}" class="btn btn-primary">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}